<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">|

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Product List</title>
  <th:block th:replace="~{layout :: link-css}"></th:block>
</head>

<body>
  <th:block th:replace="~{layout :: header}"></th:block>
  <!-- <div class="container">
    <h1 th:text=${title}></h1>
    <table class="table">
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Category</th>
        <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
      </tr>
      <tr th:each=" product,i : ${listProduct}">
        <td th:text="${#numbers.sequence(1, 1000)[i.index]}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:if="${product.image!=null}"><img th:src="@{'/images/' + ${product.image}}"
            style="width:100px; height: 100px" /></td>
        <td th:if="${product.image==null}"><img th:src="@{'/images/vegetable.jfif' }"
            style="width:100px; height: 100px" />
        </td>
        <td th:text="${product.category.name}"></td>
        <td sec:authorize="hasAnyAuthority('ADMIN')">
          <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
          <a th:href="@{/products/delete/{id}(id=${product.id})}" onclick="deleteProduct(this); return false;"
            class="text-danger">Delete</a>
        </td>
        <td sec:authorize!="hasAnyAuthority('ADMIN')">
          <a th:href="@{/shopping-cart/add/{id}(id=${product.id})}">Buy Now</a>
        </td>
      </tr>
    </table>
  </div> -->
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" th:each=" product,i : ${listProduct}">
          <div class="card h-100">
            <!-- Product image-->
            <div th:if="${product.image!=null}">
              <img class="card-img-top" th:src="@{'/images/' + ${product.image}}" style="width:266px; height: 150px" />
            </div>
            <div th:if="${product.image==null}">
              <img class="card-img-top" th:src="@{'/images/vegetable.jfif' }" style="width:266px; height: 150px" />
            </div>

            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder" th:text="${product.name}"></h5>
                <!-- Product price-->
                <p th:text="${product.description}"></p>
                <p th:text="${product.price} + VND"></p>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                  th:href="@{/shopping-cart/add/{id}(id=${product.id})}">Buy Now</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script th:src="@{/js/jquery-3.7.0.slim.min.js}"></script>
  <script th:inline="javascript">
    function deleteProduct(link) {
      if (confirm('Are you sure ?')) {
        $.ajax({
          url: $(link).attr('href'),
          type: 'DELETE',
          success: result => {
            if (!result.success) {
              alert(result.message);

            } else {
              $(link).parent().parent().remove();
            }
          }
        })
      }
    }
  </script>
  <th:block th:replace="~{layout :: footer}"></th:block>
</body>

</html>