<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

</html>>


<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link th:fragment="link-css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="padding-top:25px ;">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item" style="padding-top:25px ;"> <a class=" nav-link " href=" /products">
                                Store</a></li>
                        <li sec:authorize="hasAnyAuthority('ADMIN')" class="nav-item" style="padding-top:25px ;"> <a
                                class=" nav-link " href=" /products/admin">
                                Manage</a></li>
                        <div class="search" style="padding:30px;padding-left: 1100px;">
                            <form action="/products/search">
                                <input type="text" name="keyword" id="keyword" th:value="${keyword}"
                                    placeholder="Search..." />
                                <button type="submit">Search</button>
                            </form>
                        </div>
                        <li class="nav-item" style="padding-top:10px ;"> <a href=" /shopping-cart"><img
                                    class=" nav-link " src="/images/353403_cart_icon.png" /></a>
                        </li>
                        <li sec:authorize="isAuthenticated()" style="padding-top:25px ;">
                            <form th:action=" @{/logout}" method="post">
                                <button class="btn btn-outline-danger" type="submit">Logout</button>
                            </form>
                        </li>
                        <li sec:authorize="!isAuthenticated()" style="padding-top:25px ;">
                            <a class="btn btn-outline-primary" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div th:insert="~{::${content}}">

    </div>
    <footer th:fragment="footer">
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </footer>
</body>

</html>